<div class="mid-col">
    <div class="mid-col-container">
        <div id="content" class="inner">
{% for post in posts %}
            <article class="post">
                <div class="meta">
                    <div class="date">
                        <time >{{ post.date | date('Y-m-d') }}</time></div>
                        {% if post.tags %}
                            {% for tag in post.tags %}
                                <a class='category' href="/tags/{{ tag }}">{{ tag }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>

				<h1 class="title"><a href="{{post.link}}">{{ post.title }}</a></h1>
                <div class="entry-content">
                    {{ post.intro }}
                    <div class="read_more">
                        <a href="{{post.link}}">{{ lang('readmore') }}</a>
                    </div>
                </div>
                <br>
            </article>
{% endfor %}
            {% include 'include/paginator.html' %}
        </div>
    </div>
    {% include 'include/footer.html' %}
</div>

