<Files ~ "\.md$">
  order allow,deny
  deny from all
</files>

<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
  RewriteRule ^(.*) - [E=BASE:%1]

  RewriteCond $1 !(index\.php|css|styles|posts|images|templates|robots\.txt)
  RewriteRule ^(.*)$ /jw/index.php/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
  <IfModule mod_alias.c>
    RedirectMatch 302 ^/$ /index.php/
  </IfModule>
</IfModule>
