<?php  echo '<?xml version="1.0" encoding="utf-8"?>' . "\n"; ?>
<rss version="2.0"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
    xmlns:admin="http://webns.net/mvcb/"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:content="http://purl.org/rss/1.0/modules/content/">
 
    <channel>
     
    <title><?php echo $config['title']; ?></title>
 
    <link><?php echo $config['base_url']; ?></link>
    <description><?php echo $config['intro']; ?></description>
 
    <dc:rights>Copyright <?php echo gmdate("Y", time()); ?></dc:rights>
 
    <?php foreach($posts as $post): ?>
     
        <item>
 
          <title><?php echo xml_convert($post['title']); ?></title>
          <link><?php echo $post['link']; ?></link>
          <guid><?php echo $post['link']; ?></guid>
 
            <description><![CDATA[ <?php echo $post['intro']; ?> ]]></description>
            <pubDate><?php echo date('Y-m-d',$post['date']); ?></pubDate>
        </item>
 
         
    <?php endforeach; ?>
     
    </channel>
</rss>