<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %}{{ config.title }} {% endblock %}</title>

    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='alternate' type='application/rss+xml' title='atom 1.0' href='/feed' />
    
    <link href="/favicon.png" rel="shortcut icon">
    
	<link href="/templates/{{config.template}}/css/highlight.css" media="screen, projection" rel="stylesheet" type="text/css">

    <link href="/templates/rock/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="/templates/rock/css/style.css" rel="stylesheet" type="text/css">
    
    <script type="text/javascript" src="/templates/rock/js/jquery-1.9.1.min.js"></script>    
	<link rel="stylesheet" href="/templates/rock/css/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/templates/rock/css/fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="/templates/rock/js/jquery.githubRepoWidget.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$("a[href$='.jpg'],a[href$='.jpeg'],a[href$='.png'],a[href$='.gif'],a[href$='.bmp'],a[href$='.JPG'],a[href$='.JPEG'],a[href$='.PNG'],a[href$='.GIF'],a[href$='.BMP']").attr('rel','group-images').fancybox({
				openEffect	: 'none',
				closeEffect	: 'none'
			});
		});
	</script>
{% if config.highlight %}      
      <link rel="stylesheet" href="/styles/highlight/styles/{{config.highlight}}.css">
      <script src="/styles/highlight/highlight.pack.js"></script>
      <script>hljs.initHighlightingOnLoad();</script>
{% endif %}
{{ config.mathjax|raw }}
</head>
<body>

    <div class="container">
        <div class="left-col">
            <div class="intrude-less">
            <header id="header" class="inner">
                <div class="profilepic">
<a href='/'> <img src="{{ config.avatar }}" alt='Profile Picture' style='width: 160px;' id='ProfilePicture' /> </a>
                </div>

				{% if config.title %}
                <h2><a href="/">{{ config.title }}</a></h2>
				{% endif %}
				{% if config.intro %}
                <p class="subtitle">{{ config.intro }}</p>
				{% endif %}
                <nav id="main-nav">
                    <ul class="main-navigation">
                        <li><a href="/">{{ lang('home') }}</a></li>
                            <li><a href="/tags">{{ lang('tags') }}</a></li>
                            <li><a href="/archive">{{ lang('archive') }}</a></li>
                        <li><a href="/feed">RSS</a></li>                        

                    </ul>
                </nav>
                <nav id="sub-nav">
                <div class="social">
                  
					{% if config.github %}
                    <a class="github" href="{{ config.github }}" title="GitHub" target="_blank">GitHub</a>
					{% endif %}

					{% if config.twitter %}
                    <a class="twitter" href="{{ config.twitter }}" title="Twitter" target="_blank">Twitter</a>
					{% endif %}
					
					{% if config.rss %}
                    <a class="rss" href="{{ config.rss }}" title="RSS" target="_blank">RSS</a>
					{% endif %}
					
					{% if config.facebook %}
                    <a class="facebook" href="{{ config.facebook }}" title="Facebook" target="_blank">Facebook</a>
					{% endif %}
					
					{% if config.email %}
                    <a class="email" href="{{ config.email }}" title="e-Mail" target="_blank">e-Mail</a>
					{% endif %}
					
                </div>
                </nav>

                <br/>
				{% if config.author %}
                <section>
                    <h2>{{ lang('aboutme') }}</h2>
                    <p>{{ config.aboutme }}</p>
                </section>
				{% endif %}
                </br>

            </header>               
            </div>
        </div>  
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>


