<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="description" content="{{ config.title}}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>{{ config.title}}</title>
  <link rel="stylesheet" href="/templates/simple/css/main_heiti.css"/>
</head>
<body>
  <div class="leftside">
    <div id="user-msg">
      <img class="avatar" src="{{ config.avatar}}">
      <h4>{{ config.title}}</h4>
      <p class="info">{{ config.intro}}</p>
    </div>
    <!-- <a class="goto" href="simple.html">博 文</a> -->
    <!-- <a class="goto" href="/">目 录</a> -->
  </div>
  <div class="index">
    <ul>
      {% for post in posts %}
      <li>
        <a href="{{ post.link }}">{{ post.title }}</a>
        <div class="article-msg">
          <p><img src="templates/simple/imgs/calendar.png">{{ post.date|date('Y-m-d')}}</p>
          <p>
            <img src="templates/simple/imgs/tags.png">
            {% if post.tags %}
            {% for tag in post.tags %}
              <a href="#">{{ tag }}</a>
            {% endfor %}
            {% endif %}
          </p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</body>
</html>
