<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="description" content="xieyu33333的博客"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>xieyu33333的博客</title>
  <link rel="stylesheet" href="/templates/simple/css/main_heiti.css"/>
</head>
<body>
  <div class="leftside">
    <div id="user-msg">
      <img class="avatar" src="/templates/simple/imgs/avatar_default.png">
      <h4>庇护祝福</h4>
      <p class="info">I come from China, I Love My MotherLand!</p>
    </div>
   <!--  <a class="goto" href="simple.html">博 文</a> -->
    <a class="goto" href="/">目 录</a>
  </div>
  <div class="content">
    <h1 id="tagline">{{ post.title }}<span>{{ post.date|date('Y-m-d')}}</span></h1>
      {{ post.html|raw }}
    <div class="footer">
      {% if pre_post %}
        <a class="prev" href="#"> <-- 上一篇</a>
      {% endif %}
      {% if next_post %}
        <a class="next" href="#">下一篇 --></a>
      {% endif %}
    </div>
  </div>
</body>
<!-- <body>
  <h1 id="tagline">{{ post.title }}</h1>

{{ post.html|raw }}

{{ post.date|date('Y-m-d')}}



{% if next_post %}
<h1>下一篇 {{ next_post.title }}</h1>
{% endif %}


{% if pre_post %}
<h1>上一篇{{ pre_post.title }}</h1>
{% endif %}

Tags:
{% if post.tags %}
{% for tag in post.tags %}
    <li>{{ tag }}</li>
{% endfor %}
{% endif %}

</body> -->
</html>
