<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="description" content="xieyu33333的博客"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>{{ post.title }}</title>
  <link rel="stylesheet" href="/templates/simple/css/main_heiti.css"/>
</head>
<body>
  <div class="leftside">
    
    <div id="user-msg">
      <img class="avatar" src="{{ config.avatar}}">
      <h4>{{ config.title}}</h4>
      <p class="info">{{ config.intro}}</p>
    </div>
   <!--  <a class="goto" href="simple.html">博 文</a> -->
    <a class="goto" href="/">目 录</a>
  </div>
  <div class="content">
    <h1 id="tagline">{{ post.title }}<span>{{ post.date|date('Y-m-d')}}</span></h1>
      {{ post.html|raw }}
    <div class="footer">
      {% if prev_post %}
        <a class="prev" href="{{prev_post.link}}"> <-- {{prev_post.title}} </a>
      {% endif %}
      {% if next_post %}
        <a class="next" href="{{next_post.link}}">  {{next_post.title}} --></a>
      {% endif %}
    </div>
  </div>
</body>
</html>
